body{
    background-image: url("img/hogwarts.jpg");
    background-size: cover;
}


.welcome{
    width: fit-content;
    text-transform: uppercase;
    text-decoration: underline;
    color: rgba(241, 245, 9, 0.993);
    font-family: 'Henny Penny', cursive;
    font-size: 20px;
    text-align: center;
    font-weight: lighter;
    margin-top: 15%;
    margin-left: 17%;
}

.aperte{
    width: fit-content;
    text-transform: uppercase;
    font-weight: lighter;
    color: rgba(241, 245, 9, 0.993);
    font-family: 'Henny Penny', cursive;
    text-align: center;
    margin-top: 50px;
    margin-left: 40%;
}

.botaoInicial{
    position: absolute;
    text-align: center;
    text-decoration: none;
    font-family: 'Henny Penny', cursive;
    font-size: 24px;
    color: #FFFF;
    left: 45%;
    top: 60%;
    text-transform: uppercase;
    width: 150px;
    padding: 10px;
    background-color:rgba(241, 245, 9, 0.993);
    border: solid 4px black;
    cursor: pointer;
}

.welcome:hover{
    color: white;
    transition: 5s;
}

.aperte:hover{
    color: white;
    font-size: 20px;
    transition: 6s;
}

.botaoInicial:hover{
    position: absolute;
    top: 60.2%;
    color: black;
    transition: 4s;
}