body{
    background-image: url("img/hogwarts.jpg");
    background-size: cover;
}

.texto{
    width: 1000px;
    height: 480px;
    margin-top: 80px;
    margin-left: 160px;
}

h1{
    text-transform: uppercase;
    text-decoration: underline;
    color: rgba(241, 245, 9, 0.993);
    font-family: 'Henny Penny', cursive;
    font-size: 60px;
    text-align: center;
}

p{
    text-transform: uppercase;
    color: rgb(82, 214, 6);
    font-family: 'Henny Penny', cursive;
    padding: 2px;
    text-align: center;
}


form{
    display: flex;
    justify-content: space-evenly;
}

.botoes{
    text-align: center;
    width: fit-content;
    text-decoration: none;
    font-family: 'Henny Penny', cursive;
    font-size: 24px;
    color: rgb(82, 214, 6);
    text-transform: uppercase;
    background-color:rgba(241, 245, 9, 0.993);
    border: none;
    cursor: pointer;
}

.botoes:hover{
    color: black;
    transition: 5s;

}