body{
    background-image: url(img/escolhaDraco.jpg);
    background-size: cover;
}

h1{
    text-transform: uppercase;
    text-decoration: underline;
    color: rgba(11, 228, 76, 0.993);
    font-family: 'Henny Penny', cursive;
    font-size: 45px;
    text-align: center;
}

.paragrafos{
    width: fit-content;
    height: fit-content;
    background-color: rgba(191, 201, 186, 0.603);
    border: solid 4px rgba(10, 61, 10, 0.863);
    font-weight: bolder;
    font-size: 14px;
    margin-left: 250px;
    padding: 10px 20px;
}

p{
    text-transform: uppercase;
    color: rgba(0, 65, 35, 0.897);
    font-family: 'Henny Penny', cursive;
    text-align: center;
}




form{
    display: flex;
    justify-content: space-evenly;
    margin-top: 35px;
}

.botaoSeguir{
    text-align: center;
    width: fit-content;
    text-decoration: none;
    font-family: 'Henny Penny', cursive;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    background-color:rgba(9, 245, 48, 0.493);
    border: solid 4px black;
    border-radius: 20px;
    cursor: pointer;
}

.botaoSeguir:hover{
    background-color:rgb(59, 207, 13);
}